
.message-field {
    display: flex;
    flex-direction: column;
    /* background-color: #dafffd; */
    height: 400px;
    width: 100%;
    /*  */
    overflow-y: scroll;
 }
.message-field-chat1 {
        background-image: url(../img/img-fonChat.png);
}
 
 .layout {
   
    height: 100%;
    width: 70%;
    float:right;
    margin: auto;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 
 .message {
    background-color: rgb(248, 210, 174);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
    max-width: 20%;
 }
 
 .message-mine {
   align-self: flex-end;
}
 .messageAuthor {
    color: gray;
    font-size: 14px;
 }

 .messageText{
    font-size: 18px;
    color: rgb(2, 2, 1);
 }
 